language: c
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-opam.sh
sudo: required
script: bash -ex .travis-opam.sh
env:
  global:
    - PACKAGE="nocrypto"
    - UPDATE_GCC_BINUTILS=1
    - TESTS=true
matrix:
  include:
  - os: linux
    env: OCAML_VERSION=4.02
  - os: linux
    env: OCAML_VERSION=4.03
  - os: linux
    env: OCAML_VERSION=4.04
  - os: linux
    env: OCAML_VERSION=4.05
  - os: linux
    env: OCAML_VERSION=4.05 DEPOPTS="lwt cstruct-lwt"
  - os: linux
    env: OCAML_VERSION=4.06
  - os: linux
    env: OCAML_VERSION=4.06 NOCRYPTO_ACCELERATE="false"
  - os: linux
    env: OCAML_VERSION=4.06 DEPOPTS="lwt cstruct-lwt"
  - os: linux
    env: OCAML_VERSION=4.04 DEPOPTS="mirage-xen"
  - os: linux
    env: OCAML_VERSION=4.06 DEPOPTS="mirage-solo5 mirage-entropy"
  - os: linux
    env: OCAML_VERSION=4.07
  - os: osx
    env: OCAML_VERSION=4.06
notifications:
  email: false
